@model domvaproject.propiedades

@{
    ViewBag.Title = "Contactar";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="centercolumn">
			
    <div id="maincontent">
        <div id="content">
            <h2 class="underline">¡Exito!</h2>
            <p>Usted ha mostrado interés por una propiedad. En breve uno de nuestros agentes se pondrá en contacto con usted</p>
        </div>
    </div>
</div>