@{
    ViewBag.Title = "Zasca";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    string host = Session["host"].ToString();
    string ip = Session["ip"].ToString();
}

<h2>Zasca</h2>


<h3>Cosas</h3>
<label>Nivel:</label>
@Html.Label(host)
<br />
<label>Escec:</label>
@Html.Label(ip)
<br />
