@model domvaproject.fotos

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>¿Estás seguro de querer borrar esta foto?</h3>
<fieldset>
    <legend>fotos</legend>
    

    <div class="display-label">Imagen</div>
    <div class="display-field">
        <img src= "@Url.Content("~/images/thumbs/" + Model.Imagen)" alt="IMAGES" />
    </div>


    <div class="display-label">Propiedad</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.propiedades.Nombre)
    </div>

    <div class="display-label">Principal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Principal)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Atrás", "Index")
    </p>
}
